<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
    <title>שכבת מועצות דתיות</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta
    name="viewport"
    content="width = device-width,
               initial-scale = 1"/>

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">


 </head>
 <body scrolling='no' dir="rtl">

    <div id="app" style="height: 800px;"  >


  
        <v-app >
          <v-main>
            <v-toolbar dark flat color="#3949AB">
              <v-toolbar-title>שכבת מועצות דתיות </v-toolbar-title>
            </v-toolbar>
            <v-row>
                <v-col>
                    <div id="map" style="height:600px"></div>
                </v-col>
            </v-row>

            <v-card style="bottom: 0; ">
                <v-card-title>
                  <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Search"
                    single-line
                    hide-details
                  ></v-text-field>
                </v-card-title>
                <v-layout id="table-v-layout" column style="max-height: 60vh">       
                    <v-flex style="overflow: auto;">
                <v-data-table style="cursor: pointer"
                  @click:row="handleClick"
                  :headers="headers"
                  :items="religion_auths"
                  :search="search"
                  :loading="myloadingvariable" 
                  loading-text="Loading... Please wait"
                  item-key="MichrazID"
                  :page.sync="page"
                  :items-per-page="itemsPerPage"
                  hide-default-footer
                  class="elevation-1"
                  @page-count="pageCount = $event">
                </v-data-table>
                </v-flex>
            </v-layout>
                <div class="text-center pt-2">
                    <v-pagination
                      v-model="page"
                      :length="pageCount"
                    ></v-pagination>
                    <v-text-field
                      :value="itemsPerPage"
                      label="Items per page"
                      type="number"
                      min="-1"
                      max="15"
                      @input="itemsPerPage = parseInt($event, 10)"
                    ></v-text-field>
                  </div>
              </v-card>
          </v-main>
        </v-app>
      </div>








    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="https://www.govmap.gov.il/govmap/api/govmap.api.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
        var res;

        //var my_token = "5a4b8472-b95b-4687-8179-0ccb621c7990"; //for localhost domain
		var my_token ='aafedfe5-8dfa-4fd5-9af9-8b95759447bd'; // my github
		//var my_token = "0fff9694-a045-4ede-b997-ee9927b0d56c";
        //var my_token:  "34280469-d493-4041-95e5-664f7fec6daf"; trillium
        $(document).ready(function ()
        {
            govmap.createMap('map', 
                {
                    my_token:  '5a4b8472-b95b-4687-8179-0ccb621c7990',
                    showXY: true,
                    identifyOnClick: true,
                    isEmbeddedToggle: false,
                    background: 0,
                    layersMode: 1,
                    zoomButtons:false
                });
        });

        var s_wkts = [];
        var s_names = [];
        var s_symbols = [];
        var bubbleHTMLParameters_all = [];

        var s_wkts_layer = [];
        var s_names_layer = [];
        var bubbleHTMLParameters_all_layer = [];
        var s_symbols_layer = [];
        function showLayers()
            {
                var features = appVue.religion_auths;
                for (i=0; i < features.length; i++)
                {
                    if (features[i].x != "" && features[i].y != "")
                    {
                            s_wkts_layer.push("POINT(("+features[i].x+" "+features[i].y+"))");
                            s_names_layer.push(features[i].id + ": " + features[i].name);
                            bubbleHTMLParameters_all_layer.push([

                            "מספר סידורי: " + features[i].id
                            + "<br />"  + "שם: " + features[i].name
                            + "<br />"  + "כתובת: " + features[i].addr
                            + "<br />" + "טלפון: " + features[i].phone_num
                            + "<br />" + "שם ראש / ממונה / מורשה: " + features[i].manager_name
                            + "<br />" + "תפקיד: " + features[i].position
                            + "<br />" + "ממונה שני: " + features[i].second_manager
                            + "<br />" + "ח.פ.: " + features[i].hp
                            + "<br />" + "חלק המשרד - 2020:" + features[i].office_part
                            + "<br />" + "חלק הרשות - 2020:" + features[i].rashut_part
                            , "אתר: " + features[i].url]);
                            symbol_url ='https://raw.githubusercontent.com/yovavsanders/govmap/master/religion/outline_synagogue.png'
                            s_symbols_layer.push({url:symbol_url, width:25,  height:25 })
                        
                    }
                }

                var data = {  
                wkts: s_wkts_layer,  
                names: s_names_layer,  
                showBubble: true,
                geometryType: govmap.drawType.Point,  
                defaultSymbol:  
                {  
                    url: 'https://raw.githubusercontent.com/yovavsanders/govmap/master/religion/outline_synagogue.png',  
                    width:20,  
                    height:20  
                },   
                symbols: s_symbols_layer,  
                clearExisting: true,  
                data: {  
                        tooltips: s_names_layer,  
                        headers: s_names_layer,
                        bubbleHTML: "<div style='border: 1px solid #525252; margin: 10px;padding: 10px;'><div>{0}</div><div>{1}</div><div>{3}</div></div>",
                        bubbleHTMLParameters:bubbleHTMLParameters_all_layer
                    }  
                };


                govmap.displayGeometries(data).then(function (response)  
                {  
                    console.log(response);
                });
            }

  
      function isMobile() {
          var match = window.matchMedia || window.msMatchMedia;
          if(match) {
              var mq = match("(pointer:coarse)");
              return mq.matches;
          }
          return false;
      }
      var lo_el;
      function getHeight()
      {
          var height =  $(document).height()/2.7;
          if (isMobile())
          {
              console.log("mobile");
              height =  $(document).height() / 1.8;
              lo_el = document.getElementById("table-v-layout");
              lo_el.style.maxHeight = "90vh";
  
          }
          return height;
      }

          $.ajax({
              dataType: 'json',
              beforeSend : function() { 
                  console.log("sending...");
              },
              success: function(json_data) {
                  {
                    if (json_data.length > 0)
                    {
                        for (i = 0; i < json_data.length; i++)
                        {
                            appVue.religion_auths.push(json_data[i]);
                        }
                        appVue.myloadingvariable = false;
                        appVue.religion_auths.sort((b,a) => new Date(a.SgiraDate).getTime() - new Date(b.SgiraDate).getTime());
                        showLayers();
                        console.log("done");
                    }
                  }
                  
              },
              error : function(jqXHR, textStatus, errorThrown) {
                  console.log("Error occurred: " + errorThrown);
              },
              url: 'religion_auth.json'
          });
      

  
      var appVue = new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data () {
        return {
          page: 1,
          pageCount: 0,
          itemsPerPage: 10,
          search: '',
          headers: [
          { text: 'מזהה', value: 'id' },
          { text: 'שם', value: 'name' },
          { text: 'כתובת', value: 'addr' },
          { text: 'Y', value: 'y' },
          { text: 'X', value: 'x' },
          { text: 'טלפון', value: 'phone_num'},
          { text: 'שם ראש / ממונה / מורשה', value: 'manager_name'},
          { text: 'תפקיד', value: 'position'},
          { text: 'ממונה שני', value: 'second_manager'},
          { text: 'ח.פ.', value: 'hp'},
          { text: 'חלק המשרד - 2020', value: 'office_part'},
          { text: 'חלק הרשות - 2020', value: 'rashut_part'},
          { text: 'אתר', value: 'url'},

  
          ],

          religion_auths: [],
          myloadingvariable: true,
        }
      },
      methods: {
        handleClick(value) {
            console.log(value.x, value.y);
            govmap.zoomToXY({ x: value.x, y: value.y, level: 8, marker: false });
        },
      }
      })
  
      appVue.religion_auths = [];
    </script>






    
 </body>

</html>
