<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta
    name="viewport"
    content="width = device-width,
               initial-scale = 1"/>

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

 </head>
 <body scrolling='no' dir="rtl">
    <div id="app" style="height: 800px">


  
        <v-app >
          <v-main>
            <v-toolbar dark flat color="#3949AB">
              <v-toolbar-title>{{SetlName}}</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-toolbar-title>איתור מכרזים מאתר רמ"י</v-toolbar-title>
         
            </v-toolbar>
            <v-row>
                <v-col>
                    <div id="map" style="width:600px;height:600px"></div>
                </v-col>
                <v-col>
                    <v-row>
                    <div>
                        <v-alert
                        color="indigo"
                        dark
                        v-if="ShemZoche"
                      >
                        שם זוכה: {{ShemZoche}}    סכום זכיה: {{ Number(SchumZchiya).toLocaleString()}} ש"ח
                      </v-alert>
                    </div>
                    </v-row>
                    <v-row>
                    <v-banner v-if="messageText"
                    sticky
                  >
                    {{messageText}}
                  </v-banner>
                  </v-row>
                  

                    <v-row>
<!-- שם ישוב
יעוד
סטטוס מכרז -->

                        <v-col>
                            <v-card
                            class="mx-auto"
                            max-width="300"
                            tile
                            v-if="Hatzaaot.length > 0"
                        >
                            <v-list disabled>
                            <v-subheader>הצעות בש"ח</v-subheader>
                            <v-list-item-group
                                color="primary"
                            >
                                <v-list-item
                                v-for="(item, i) in Hatzaaot.slice(0, 5)"
                                :key="i"
                                >
                                <v-list-item-content>
                                    <v-list-item-title v-text="Number(item.HatzaaSum).toLocaleString()"></v-list-item-title>
                                </v-list-item-content>
                                </v-list-item>
                            </v-list-item-group>
                            </v-list>
                        </v-card>
                        </v-col>

                        <v-col>
                            <v-card
                            class="mx-auto"
                            max-width="300"
                            tile
                            v-if="GushHelka.length > 0"
                        >
                            <v-list disabled>
                            <v-subheader>תחום</v-subheader>
                            <v-list-item-group
                                color="primary"
                            >
                                <v-list-item
                                v-for="(item, i) in GushHelka.slice(0, 5)"
                                :key="i"
                                >
                                <v-list-item-content>
                                    <v-list-item-title v-text="'גוש: ' + item.Gush +' ' + 'חלקה: ' + item.Helka"></v-list-item-title>
                                </v-list-item-content>
                                </v-list-item>
                            </v-list-item-group>
                            </v-list>
                        </v-card>
                        </v-col>


                    </v-row>
 


                </v-col>



            </v-row>

            <v-card style="bottom: 0; ">
                <v-card-title>
                  <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Search"
                    single-line
                    hide-details
                  ></v-text-field>
                </v-card-title>
                <v-layout id="table-v-layout" column style="max-height: 60vh">       
                    <v-flex style="overflow: auto;">
                <v-data-table
                  @click:row="handleClick"
                  :headers="headers"
                  :items="mmi_michrazim"
                  :search="search"
                  :loading="myloadingvariable" 
                  loading-text="Loading... Please wait"
                  item-key="MichrazID"
                  :page.sync="page"
                  :items-per-page="itemsPerPage"
                  hide-default-footer
                  class="elevation-1"
                  @page-count="pageCount = $event">
                </v-data-table>
                </v-flex>
            </v-layout>
                <div class="text-center pt-2">
                    <v-pagination
                      v-model="page"
                      :length="pageCount"
                    ></v-pagination>
                    <v-text-field
                      :value="itemsPerPage"
                      label="Items per page"
                      type="number"
                      min="-1"
                      max="15"
                      @input="itemsPerPage = parseInt($event, 10)"
                    ></v-text-field>
                  </div>
              </v-card>
          </v-main>
        </v-app>
      </div>








    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="https://www.govmap.gov.il/govmap/api/govmap.api.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
        var cors_api_host = 'https://cors-anywhere.herokuapp.com/';
        var res;

        //var my_token = "5a4b8472-b95b-4687-8179-0ccb621c7990"; //for localhost domain
		var my_token ='aafedfe5-8dfa-4fd5-9af9-8b95759447bd'; // my github
		//var my_token = "0fff9694-a045-4ede-b997-ee9927b0d56c";
        //var my_token:  "34280469-d493-4041-95e5-664f7fec6daf"; trillium
        $(document).ready(function ()
        {
            govmap.createMap('map', 
                {
                    my_token:  '5a4b8472-b95b-4687-8179-0ccb621c7990',
                    layers: ["PARCEL_ALL"],
                    visibleLayers: ["PARCEL_ALL"],
                    showXY: true,
                    identifyOnClick: true,
                    isEmbeddedToggle: false,
                    background: 0,
                    layersMode: 1,
                    zoomButtons:false
                });
            

        });

  
      function isMobile() {
          var match = window.matchMedia || window.msMatchMedia;
          if(match) {
              var mq = match("(pointer:coarse)");
              return mq.matches;
          }
          return false;
      }
      var lo_el;
      function getHeight()
      {
          var height =  $(document).height()/2.7;
          if (isMobile())
          {
              console.log("mobile");
              height =  $(document).height() / 1.8;
              lo_el = document.getElementById("table-v-layout");
              lo_el.style.maxHeight = "90vh";
  
          }
          return height;
      }
  
      // });

          $.ajax({
              dataType: 'json',
              beforeSend : function() { 
                  console.log("sending...");
              },
              success: function(json_data) {
                  {
                      if (json_data.length > 0)
                      {
                          for (i = 0; i < json_data.length; i++)
                          {
                              appVue.mmi_michrazim.push(json_data[i]);
                          }
                          appVue.myloadingvariable = false;

                          appVue.mmi_michrazim.So


                          appVue.mmi_michrazim.sort((b,a) => new Date(a.SgiraDate).getTime() - new Date(b.SgiraDate).getTime());
                          console.log("done");
                      }
                  }
                  
              },
              error : function(jqXHR, textStatus, errorThrown) {
                  console.log("Error occurred: " + errorThrown);
              },
              //url: "https://static.coinpaper.io/api/mmi_michrazim.json"
              url: 'michrazim_rmi.json'
              //url: 'https://api.coingecko.com/api/v3/mmi_michrazim/list'
          });
      

  
      var appVue = new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data () {
        return {
          page: 1,
          pageCount: 0,
          itemsPerPage: 1000,
          search: '',
          headers: [
          { text: 'מזהה מכרז', value: 'MichrazID' },
          { text: 'שכונה', value: 'Shchuna' },
          { text: 'שם מכרז', value: 'MichrazName' },
          { text: 'סמל ישוב', value: 'KodYeshuv' },
          { text: 'יחידות דיור', value: 'YechidotDiur' },
          { text: 'תאריך סגירה', value: 'SgiraDate'}
  
          ],
          HatzaaotHeaders: [
          { text: 'HatzaaID', value: 'HatzaaID' },
          { text: 'HatzaaSum', value: 'HatzaaSum' },
  
          ],

          mmi_michrazim: [
            
          ],
          myloadingvariable: true,

          selected: {},
          Hatzaaot: [],

          GushHelka: [],
          Title: "",
          ShemZoche: "",
          SchumZchiya: 0,
          SetlName: "",
          messageText: ""

  
         
        }
      },
      methods: {
        handleClick(value) {
            //console.log(value);



            // var settings = {
            //     'cache': false,
            //     'dataType': "jsonp",
            //     "async": true,
            //     "crossDomain": true,
            //     "url": 'https://apps.land.gov.il/MichrazimSite/api/MichrazDetailsApi/Get?michrazID=' + value.MichrazID,
            //     "method": "GET",
            //     "headers": {
            //         "accept": "application/json",
            //         "Access-Control-Allow-Origin":"*"
            //     }
            // }

            // $.ajax(settings).done(function (response) {
            //     res = response;
            //     console.log(response);

            // });

            




            $.getJSON(cors_api_host + 'https://apps.land.gov.il/MichrazimSite/api/MichrazDetailsApi/Get?michrazID=' + value.MichrazID, function(data) {

            // JSON result in `data` variable
            res = data;
            appVue.messageText = res.MessageDetails.messageText;
            appVue.selected = res;
            var IDS = []
            appVue.GushHelka = data.Tik[0].GushHelka;
            appVue.ShemZoche = data.Tik[0].ShemZoche;
            appVue.SchumZchiya =  data.Tik[0].SchumZchiya
            for (i = 0; i < data.Tik[0].GushHelka.length; i++)
            {
                var ID = data.Tik[0].GushHelka[i].Gush + "--" + data.Tik[0].GushHelka[i].Helka;
                IDS.push(ID);
            }
            appVue.Hatzaaot = data.Tik[0].mpHatzaaotMitcham;
            if (IDS.length > 0)
            {
                console.log(data.Tik[0].GushHelka[0].Gush, data.Tik[0].GushHelka[0].Helka);
                govmap.searchInLayer({ 'layerName': 'PARCEL_ALL', 'fieldName': 'ID',
                                                            'fieldValues': IDS,
                                                            'highlight': true,
                                                            'showBubble':false,
                                                            'outLineColor':[127, 246, 223, 1],
                                                            'outlineWidth': 1, 
                                                            'fillColor': [255, 255, 255, 0.5]})

                govmap.geocode({keyword: data.Tik[0].GushHelka[0].Gush + " " + data.Tik[0].GushHelka[0].Helka},govmap.geocodeType.FullResult)
                .then(function (response) {
                        console.log("then:");
                        if (response.status == 0){
                            console.log(response.data[0].X + " " + response.data[0].Y);
                            var params = {
                                LayerName: 'local_committees',
                                Point: {x: response.data[0].X, y: response.data[0].Y},
                                Radius:0.1
                            };
                            govmap.getLayerData(params).then(function(getLayerDataResponse){
                                console.log(getLayerDataResponse);
                                if (getLayerDataResponse.data){
                                    console.log(getLayerDataResponse.data[0].Fields[0].Value);
                                    appVue.SetlName = getLayerDataResponse.data[0].Fields[0].Value;
                                }
                            });
                        }
                        else{
                            appVue.SetlName = "";
                        }
                
                })
                
            }
            

            });
        },
      }
      })
  
      appVue.mmi_michrazim = [];
    </script>





    
 </body>
</html>
