

<!DOCTYPE html>
<html style='width:100%; height:100%;'>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

    @media (max-width: 600px) {
        #barDesktop {
          display: none;
        }
    
    }
    
    @media (min-width: 600px) {
        #barMobile1 {
          display: none;
        }
        #barMobile2{
          display: none;
        }
    }

</style>

<html>


    <head>
        <script src="https://polyfill.io/v3/polyfill.js?features=es5,es6,es7&flags=gated"></script>  
      
        <link rel= 'stylesheet' href= 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'> 
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script language="javascript" type="text/javascript" src="https://www.govmap.gov.il/govmap/api/govmap.api.js" ></script>


        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script src="https://polyfill.io/v3/polyfill.js?features=es5,es6,es7&flags=gated"></script>

        <script src="https://unpkg.com/terraformer@1.0.8"></script>
        <script src="https://unpkg.com/terraformer-wkt-parser@1.1.2"></script>
      

    </head>

    <title>שכבת מדדי הנדל"ן הלאומית</title>

    <body style='width:100%; height:95%;' scrolling='no' dir="rtl">
        <div id="toolbar_app" right >
            <v-app>
                <v-container class="grey lighten-5">


                   
                   



     <v-app-bar id="barDesktop"
      color="#ECEFF1"
      dense
    >

      <v-toolbar-title>שכבת מדדי הנדל"ן הלאומית</v-toolbar-title>
      <v-divider
      class="mx-4"
      vertical
    ></v-divider>


      <v-text-field right v-model="geocode_text" style="margin-top: 30px; text-align: right;"
      placeholder="כתובת, רחוב, שכונה"
  ></v-text-field>

  <v-divider
  class="mx-4"
  vertical
></v-divider>
<v-btn @click="zoomCurrentLocation" icon>
  <v-icon>mdi-crosshairs-gps</v-icon>
</v-btn>



<img class="mr-1" height="70" src="https://yovavsanders.github.io/Corona/logo.png"/>







  

    </v-app-bar>


    <v-app-bar id="barMobile1"
    color="#ECEFF1"
    dense
  >

  <img class="mr-1"  height="60" src="https://yovavsanders.github.io/Corona/logo.png"/>

    <v-toolbar-title center>שכבת מדדי הנדל"ן הלאומית</v-toolbar-title>

    


  </v-app-bar>




  
  <v-app-bar id="barMobile2"
  color="#ECEFF1"
>

  <v-text-field right v-model="geocode_text" style="margin-top: 30px; text-align: right;"
  placeholder="כתובת, רחוב, שכונה"
></v-text-field>

<v-divider
class="mx-4"
vertical
></v-divider>


<v-btn @click="zoomCurrentLocation" icon>
<v-icon>mdi-crosshairs-gps</v-icon>
</v-btn>




</v-app-bar>



<v-row no-gutters id="menu_row">
    <v-col
    cols="12"
    sm="12"
    md="12"
    lg="2"
    xl="2"
    >
        <v-card color="#ECEFF1" class="caption pa-2" outlined tile right style="max-height: 66px;"
        >
            <v-select
            v-model ="ROOMS"
            :items="ROOMS_items"
            label="מספר חדרים"
            dense
            outlined
            :menu-props="{ top: true, offsetY: true }"
            ></v-select>  
        </v-card>
    </v-col>


        <v-col
        cols="12"
        sm="12"
        md="12"
        lg="4"
        xl="4"
        >
        <v-card color="#ECEFF1" class="caption pa-2" outlined tile right style="max-height: 66px;">
           שכירות חציונית: {{numberWithCommas(value1[0])}} ₪ עד {{numberWithCommas(value1[1])}} ₪
              <v-range-slider right
                v-model="value1" min=1000 max = 20000 step=100>
                <template v-slot:append >
                   <p>{{'₪' + numberWithCommas(value1[0] / 1000) + 'K'}}</p>  
                    
                </template> 
                <template v-slot:prepend >
                    <p> {{'₪' + numberWithCommas(value1[1] / 1000) + 'K'}}</p> 
                </template>  
            </v-range-slider>
          </v-card>
        </v-col>

        <v-col
        cols="12"
        sm="12"
        md="12"
        lg="4"
        xl="4"
        >
        <v-card color="#ECEFF1" class="caption pa-2" outlined tile style="max-height: 66px;">
            מחיר חציוני: {{numberWithCommas(value2[0])}} ₪ עד {{numberWithCommas(value2[1])}} ₪
                <v-range-slider right
                v-model="value2" min=200000 max = 10000000 step=100000>
                <template v-slot:append >
                   <p>{{'₪' + numberWithCommas(value2[0] / 1000000) + 'M'}}</p>  
                    
                </template> 
                <template v-slot:prepend >
                    {{'₪' + numberWithCommas(value2[1] / 1000000) + 'M'}}
                </template>  
            </v-range-slider>
           </v-card>


        </v-col>
 

    <v-col
    cols="12"
    sm="12"
    md="12"
    lg="2"
    xl="2"
    >
        <v-card color="#ECEFF1"
            class="pa-2" style="height: 66px;"
            outlined
            tile
            model= "select_btn"
        >
            <v-btn block color="blue darken-1" dark id="changed_button" style="height: 40px;"  @click="Click()" >סינון שכונות במפה </v-btn>
        </v-card>
    </v-col>
</v-row>
                
                    <v-card
                    outlined
                    tile
                    class="mx-auto"
                    >
                        <div id="map_div" style="padding: 0.5em;
                        background:#ECEFF1;
                        border: 0;
                        color: white;
                        grid-column: span 2;">
                        </div>
                    </v-card>

</v-container>


                  <v-dialog
                  max-width="410px" v-model="dialog" id="table_dialog"> 
                  <v-card>
            
            
            
                <v-divider></v-divider>
            
                    <v-container fluid grid-list-md dir="rtl">
                                    <v-data-iterator
                                      :items="items"
                                      id="myTable"
                                    >
                                      <template v-slot:default="props">
                                        <v-layout wrap>
                                          <v-flex
                                            v-for="item in props.items"
                                            :key="item['שם שכונה/אזור']"
                                          >
                                            <v-card>
                                              <v-card-title><h5 >שכונת {{ item["שם שכונה/אזור"]}}</h5></v-card-title>
                                              <v-divider></v-divider>
                                              <v-list dense class="caption">
                                                <v-list-item class="font-weight-bold">דירות 3 חדרים</v-list-item>
                                                <v-list-item>
                                                  <v-list-item-content>שכירות חציונית בשכונה: </v-list-item-content>
                                                  <v-list-item-content class="align-end">{{ item["שכירות חציונית לדירת 3 חד' בשכונה"] }}</v-list-item-content>
                                                </v-list-item>
                                                <v-list-item>
                                                  <v-list-item-content>שכירות חציונית בישוב: </v-list-item-content>
                                                  <v-list-item-content class="align-end">{{ item["שכירות חציונית לדירת 3 חד' בישוב"] }}</v-list-item-content>
                                                </v-list-item>
                                                <v-list-item>
                                                    <v-list-item-content>מחיר חציוני בשכונה: </v-list-item-content>
                                                    <v-list-item-content class="align-end">{{ item["מחיר חציוני לדירת 3 חד' בשכונה"] }}</v-list-item-content>
                                                </v-list-item>
                                                <v-list-item>
                                                    <v-list-item-content>מחיר חציוני בישוב: </v-list-item-content>
                                                    <v-list-item-content class="align-end">{{ item["מחיר חציוני לדירת 3 חד' בישוב"] }}</v-list-item-content>
                                                </v-list-item>

                                                <v-divider></v-divider>
                                                <v-list-item class="font-weight-bold">דירות 4 חדרים</v-list-item>
                                                <v-list-item>
                                                  <v-list-item-content>שכירות חציונית בשכונה: </v-list-item-content>
                                                  <v-list-item-content class="align-end">{{ item["שכירות חציונית לדירת 4 חד' בשכונה"] }}</v-list-item-content>
                                                </v-list-item>
                                                <v-list-item>
                                                  <v-list-item-content>שכירות חציונית בישוב: </v-list-item-content>
                                                  <v-list-item-content class="align-end">{{ item["שכירות חציונית לדירת 4 חד' בישוב"] }}</v-list-item-content>
                                                </v-list-item>
                                                <v-list-item>
                                                    <v-list-item-content>מחיר חציוני בשכונה: </v-list-item-content>
                                                    <v-list-item-content class="align-end">{{ item["מחיר חציוני לדירת 4 חד' בשכונה"] }}</v-list-item-content>
                                                </v-list-item>
                                                <v-list-item>
                                                    <v-list-item-content>מחיר חציוני בישוב: </v-list-item-content>
                                                    <v-list-item-content class="align-end">{{ item["מחיר חציוני לדירת 4 חד' בישוב"] }}</v-list-item-content>
                                                </v-list-item>

                                                <v-divider></v-divider>
                                                <v-list-item class="font-weight-bold">דירות 5 חדרים</v-list-item>
                                                <v-list-item>
                                                  <v-list-item-content>שכירות חציונית בשכונה: </v-list-item-content>
                                                  <v-list-item-content class="align-end">{{ item["שכירות חציונית לדירת 5 חד' בשכונה"] }}</v-list-item-content>
                                                </v-list-item>
                                                <v-list-item>
                                                  <v-list-item-content>שכירות חציונית בישוב: </v-list-item-content>
                                                  <v-list-item-content class="align-end">{{ item["שכירות חציונית לדירת 5 חד' בישוב"] }}</v-list-item-content>
                                                </v-list-item>
                                                <v-list-item>
                                                    <v-list-item-content>מחיר חציוני בשכונה: </v-list-item-content>
                                                    <v-list-item-content class="align-end">{{ item["מחיר חציוני לדירת 5 חד' בשכונה"] }}</v-list-item-content>
                                                </v-list-item>
                                                <v-list-item>
                                                    <v-list-item-content>מחיר חציוני בישוב: </v-list-item-content>
                                                    <v-list-item-content class="align-end">{{ item["מחיר חציוני לדירת 5 חד' בישוב"] }}</v-list-item-content>
                                                </v-list-item>

                                              </v-list>
                                            </v-card>
                                          </v-flex>
                                        </v-layout>
                                      </template>
                                    </v-data-iterator>
                                  </v-container>
                                  
                                   </v-card>
                    
                </v-dialog>


            </v-app>
        </div>
    </body>



    


    <script>

        var json_accidents = "Accidents.json"
        var accident_features = [];
        var wkts_all = [];
        var names_all = [];
        var bubbleHTMLParameters_all = [];
        var heatmap_features = [];
        var symbols_all = [];
        
        function isInArray(value, array) {
            return array.indexOf(value) > -1;
        }

        
	

//////////////////////////////////////////

                              // convert wgs84 to israel tm grid...

                              //////////////////////////////////////////

 

                              function degreesToRadians(degrees) {

return degrees * Math.PI / 180;

}



function pow2(x) {

return x*x;

}



function pow3(x) {

return x*x*x;

}



function pow4(x) {

return x*x*x*x;

}



function ITMLocation(easting, northing) {

this.easting = easting;

this.northing = northing;

this.eastingInOldGrid = function() {

			 return easting - 50000;

}

this.northingInOldGrid = function() {

			 var retval = northing - 500000;

			 if (retval<0) {

			   retval += 1000000;

			 }

			 return retval;

}

}



//////////////

//// Main Function…

//////////////

function WgsToIsrael(latitude, longitude)

{

			 longitude = degreesToRadians(longitude);

			 latitude = degreesToRadians(latitude);

			 //LatLongToITM(latitude, longitud);

			 // Projection parameters

			 var centralMeridian = degreesToRadians(35.2045169444444);  // central meridian of ITM projection

			 var k0 = 1.0000067;  // scale factor



			 // Ellipsoid constants (WGS 80 datum)

			 var a = 6378137;  // equatorial radius

			 var b = 6356752.3141; // polar radius

			 var e = Math.sqrt(1 - b*b/a/a);  // eccentricity

			 var e1sq = e*e/(1-e*e);

			 var n = (a-b)/(a+b);



			 // Curvature at specified location

			 var tmp = e*Math.sin(latitude);

			 var nu = a/Math.sqrt(1 - tmp*tmp);



			 // Meridional arc length

			 var n3 = pow3(n);

			 var n4 = pow4(n);

			 var A0 = a*(1-n+(5*n*n/4)*(1-n) +(81*n4/64)*(1-n));

			 var B0 = (3*a*n/2)*(1 - n - (7*n*n/8)*(1-n) + 55*n4/64);

			 var C0 = (15*a*n*n/16)*(1 - n +(3*n*n/4)*(1-n));

			 var D0 = (35*a*n3/48)*(1 - n + 11*n*n/16);

			 var E0 = (315*a*n4/51)*(1-n);

			 var S = A0*latitude - B0*Math.sin(2*latitude) + C0*Math.sin(4*latitude)

			 - D0*Math.sin(6*latitude) + E0*Math.sin(8*latitude);



			 // Coefficients for ITM coordinates

			 var p = longitude-centralMeridian;

			 var Ki = S*k0;

			 var Kii = nu*Math.sin(latitude)*Math.cos(latitude)*k0/2;

			 var Kiii = ((nu*Math.sin(latitude)*pow3(Math.cos(latitude)))/24)*(5-pow2(Math.tan(latitude))+9*e1sq*pow2(Math.cos(latitude))+4*e1sq*e1sq*pow4(Math.cos(latitude)))*k0;

			 var Kiv = nu*Math.cos(latitude)*k0;

			 var Kv = pow3(Math.cos(latitude))*(nu/6)*(1-pow2(Math.tan(latitude))+e1sq*pow2(Math.cos(latitude)))*k0;



			 var easting = Math.round(219529.58+ Kiv*p+Kv*pow3(p) - 60);

			 var northing = Math.round(Ki+Kii*p*p+Kiii*pow4(p) - 3512424.41+ 626907.39 - 45);

			 return [easting, northing];

}

///////////////////

// end convert

///////////////////


        function setMapHeight()
        {
            var h = ($(window).height() - $(document.getElementById("menu_row")).height()) / 1.2;
            var isMobile = {
                            Android: function() {
                                return navigator.userAgent.match(/Android/i);
                            },

                            BlackBerry: function() {
                                return navigator.userAgent.match(/BlackBerry/i);
                            },
                            iOS: function() {
                                return navigator.userAgent.match(/iPhone|iPad|iPod/i);
                            },
                            Opera: function() {
                                return navigator.userAgent.match(/Opera Mini/i);
                            },
                            Windows: function() {
                                return navigator.userAgent.match(/IEMobile/i);
                            },
                            any: function() {
                                return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
                            }
                        };
                        if( isMobile.any() ) {

                            h = ($(window).height() - $(document.getElementById("menu_row")).height()) / 1.3
                            this.titleEl = false;
                        } 
                        console.log(h);
                        return h;
        }

       

        $(document).ready(function(){
            $(document.getElementById('map_div')).height(setMapHeight);
            //var my_token = "5a4b8472-b95b-4687-8179-0ccb621c7990";//localhost
            //var my_token = "0fff9694-a045-4ede-b997-ee9927b0d56c";//govmap
            var my_token ='aafedfe5-8dfa-4fd5-9af9-8b95759447bd'; // my github
            $(function () {
                    govmap.createMap('map_div', {
                        token: my_token,
                        visibleLayers: ["sites_nadlan_leumi"],  
					    layers: ["sites_nadlan_leumi"], 
                        showXY: true,
                        identifyOnClick: false,
                        layersMode: 2,
                        level: 5,
                        center: {x: 179000, y: 663000}

                    });


                    govmap.onEvent(govmap.events.CLICK).progress(function (e)  
				    //govmap.draw(govmap.drawType.Point).progress(function (e)  
				    {	
                        
					    click_result = e;
					    console.log(click_result)

                        x_ = click_result.mapPoint.x;
                        y_ = click_result.mapPoint.y;

                        //govmap.zoomToXY({ x: x_, y: y_, level: 8, marker: true });

                        getData(x_,y_);

                        var data = {
                                'circleGeometries': [{ x: x_, y: y_, radius:100 }],
                                'geomData': [{ 'name': 'test1', 'aaa': 1 }],
                                'showBubble': false,
                                'names': ['p1'],
                                'geometryType': 4,
                                'defaultSymbol':
                                    {
                                        'outlineColor': [192, 0, 0, 1],
                                        'outlineWidth': 2,
                                        'fillColor': [255, 192, 203, 0.5]
                                    },
                                'symbols': [],
                                'clearExisting': false,
                                'data': {

                                }
                            };
                            govmap.displayGeometries(data).then(function (e)
                            {
                                console.log(data);
                                
                            });




				    });  
                        
            });
        });

        function PointToPolygon(x, y, r)
		{			
			x1 = x - r;
			y1 = y;
			x2 = x - (((r / 2)) / (2)) - ((r / 2));
			y2 = y + (((r / 2)) / (2)) + ((r / 2));
			x3 = x;
			y3 = y + r;
			x4 = x + (((r / 2)) / (2)) + ((r / 2));
			y4 = y + (((r / 2)) / (2)) + ((r / 2));
			x5 = x + r;
			y5 = y;
			x6 = x + (((r / 2)) / (2)) + ((r / 2));
			y6 = y - (((r / 2)) / (2)) - ((r / 2));
			x7 = x;
			y7 = y - r;
			x8 = x - (((r / 2)) / (2)) - ((r / 2));
			y8 = y - (((r / 2)) / (2)) - ((r / 2));
			wkt = "POLYGON(("+x1+" "+y1+", "+x2+" "+y2+", "+x3+" "+y3+", "+x4+" "+y4+", "+x5+" "+y5+", "+x6+" "+y6+", "+x7+" "+y7+", "+x8+" "+y8+", "+x1+" "+y1+"))";
			return wkt;
		}


        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }




        function ClearUserPoints(){

            var bubbleContent = "";
                var data = {  
                wkts: [], 
                showBubble: false, 
                names: [],  
                geometryType: govmap.drawType.Point,  
                defaultSymbol:  
                {  
                    url:'https://govmap.gov.il/sites/O1.png',  
                    width:20,  
                    height:20  
                },   
                symbols: [],  
                clearExisting: true,  
                data: {  
                        tooltips: [],  
                        headers: [],
                        bubbleHTML: bubbleContent,
                        bubbleHTMLParameters:[]
                    }  
                };  
                        
                govmap.displayGeometries(data).then(function (response)  
                {  
                //console.log(response.data);
                }); 

        }


                        
        var s_wkts = [];
        var s_names = [];
        var s_symbols = [];

        
        var myData = {};
        var aliasses = ["שם שכונה/אזור","מחיר חציוני לדירת 3 חד' בשכונה","מחיר חציוני לדירת 3 חד' בישוב","מחיר חציוני לדירת 3 חד' בארץ","שכירות חציונית לדירת 3 חד' בשכונה","שכירות חציונית לדירת 3 חד' בישוב","שכירות חציונית לדירת 3 חד' בארץ","מחיר חציוני לדירת 4 חד' בשכונה","מחיר חציוני לדירת 4 חד' בישוב","מחיר חציוני לדירת 4 חד' בארץ","שכירות חציונית לדירת 4 חד' בשכונה","שכירות חציונית לדירת 4 חד' בישוב","שכירות חציונית לדירת 4 חד' בארץ","מחיר חציוני לדירת 5 חד' בשכונה","מחיר חציוני לדירת 5 חד' בישוב","מחיר חציוני לדירת 5 חד' בארץ","שכירות חציונית לדירת 5 חד' בשכונה","שכירות חציונית לדירת 5 חד' בישוב","שכירות חציונית לדירת 5 חד' בארץ"]
  

        var fields = ['FNAME',	'DealAmountNeighborhood3',	'DealAmountSettlement3',	'DealAmountNational3',
                'RentAmountNeighborhood3',	'RentAmountSettlement3',	'RentAmountNational3',	'DealAmountNeighborhood4',
                    'DealAmountSettlement4',	'DealAmountNational4',	'RentAmountNeighborhood4',	'RentAmountSettlement4',
                        'RentAmountNational4',	'DealAmountNeighborhood5',	'DealAmountSettlement5',	'DealAmountNational5',	'RentAmountNeighborhood5',	'RentAmountSettlement5',	
                        'RentAmountNational5']


        function getData(x_,y_)
        {
            console.log(x_, y_);
            
            ClearUserPoints();


            var wkt = PointToPolygon(x_, y_, 100);
            //sites_nadlan_leumi


            govmap.intersectFeatures({ 'geometry': wkt, 'layerName': "sites_nadlan_leumi", 'fields': fields,getShapes: false}).then(function (response)  
            {  
                myData.items = [];
                console.log(response)

                for (i = 0; i < response.data.length; i++)
                {
                    feat = response.data[i];
                    var person = {};
                    vals = response.data[i].Values;

                    for (v = 0; v < vals.length; v++)
                    {
                        if (aliasses[v])
                        {
                            if (vals[v])
                            {
                                console.log(aliasses[v] + ": " + numberWithCommas(vals[v]));
                                if (aliasses[v] != "שם שכונה/אזור")
                                {
                                    if ((vals[v] >= 1000 && aliasses[v].includes("שכירות")) || (vals[v] >= 100000 && aliasses[v].includes("מחיר")))
                                    {
                                        person[aliasses[v]] = numberWithCommas(vals[v]) + ' ₪';
                                    }
                                    else{
                                        person[aliasses[v]] = "נתון חסר";

                                    }
                                }
                                else{
                                    person[aliasses[v]] = vals[v];
                                }
                            }
                            else{
                                person[aliasses[v]] = "נתון חסר";
                            }

                        }
                    }
                    myData.items.push(person);
                }

                appVue.items = myData.items;
                appVue.dialog = true;

            
         
            });

            govmap.intersectFeatures({ 'geometry': wkt, 'layerName': "NEIGHBORHOODS_AREA", 'fields': ["UNIQ_ID"],getShapes: false}).then(function (response)  
            {
                var oids = [];

                for (i = 0; i < response.data.length; i++)
                {
                    oids.push(response.data[i].ObjectId);
                }
                govmap.searchInLayer({layerName: 'NEIGHBORHOODS_AREA',fieldName: 'OBJECTID', fieldValues: oids, highlight: true, 'outLineColor': "blue" });
            }); 


        }

        var appVue = new Vue({
            el:"#toolbar_app",
            vuetify: new Vuetify(),
                data () {
                    return {

                        value1: [1000, 20000],
                        value2: [200000, 10000000],

                        geocode_text: "",
                        dialog :false,
		
                        itemsPerPageOptions: [1, 5, 25, 100],
                        itemsPerPage: 5,
                        items: myData.items,
                        ROOMS: 3,
                        ROOMS_items: [3,4,5]
                       
                    }
                },
                mounted () {
                    let self = this
                    window.addEventListener('keyup', function (event) {
                        if (event.keyCode === 13) {
                            self.geocode()
                        }
                    })
                },

                computed: {
                    All () {
                        return this.SUB_TYPE.length === this.SUB_TYPE_items.length
                    },
                    Some () {
                        return this.SUB_TYPE.length > 0 && !this.All
                    },
                    icon () {
                        if (this.All) return 'mdi-close-box'
                        if (this.Some) return 'mdi-minus-box'
                        return 'mdi-checkbox-blank-outline'
                    },
                },

                methods: {

                    Click()
                    {

                        min_rent = this.value1[0];
                        max_rent = this.value1[1];

                        min_price = this.value2[0];
                        max_price = this.value2[1];

                        rooms = this.ROOMS;

                        query = "(RentAmountNeighborhood"+rooms+" BETWEEN " + min_rent + " AND " + max_rent + ") AND " + 
                                "(DealAmountNeighborhood"+rooms+" BETWEEN " + min_price +" AND " + max_price +")";
                        govmap.filterLayers({ 'layerName': "sites_nadlan_leumi", 'whereClause': query, 'zoomToExtent': true });  


                    },

                    numberWithCommas(x) {
                        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    },

                    toggle () {
                        this.$nextTick(() => {
                        if (this.All) {
                            this.SUB_TYPE = []
                        } else {
                            this.SUB_TYPE = this.SUB_TYPE_items.slice()
                        }
                        })
                    },


                       
                    zoomCurrentLocation()
                    {
                        if (navigator.geolocation) {


                            govmap.filterLayers({ 'layerName': "sites_nadlan_leumi", 'whereClause': "OBJECTID > 0", 'zoomToExtent': false }); 


                            appVue.value1= [1000, 20000];
                            appVue.value2= [200000, 10000000];

                            navigator.geolocation.getCurrentPosition(function showPosition(position) {
                                x_ =  WgsToIsrael(position.coords.latitude, position.coords.longitude)[0];
                                y_ =  WgsToIsrael(position.coords.latitude, position.coords.longitude)[1];
                            
                                //govmap.zoomToXY({ x: x_, y: y_, level: 8, marker: true });

                                getData(x_,y_);

  

                                var data = {
                                    'circleGeometries': [{ x: x_, y: y_, radius:100 }],
                                    'geomData': [{ 'name': 'test1', 'aaa': 1 }],
                                    'showBubble': false,
                                    'names': ['p1'],
                                    'geometryType': 4,
                                    'defaultSymbol':
                                        {
                                            'outlineColor': [192, 0, 0, 1],
                                            'outlineWidth': 2,
                                            'fillColor': [255, 192, 203, 0.5]
                                        },
                                    'symbols': [],
                                    'clearExisting': false,
                                    'data': {

                                    }
                                };
                                govmap.displayGeometries(data).then(function (e)
                                {
                                    console.log(data);
                                    
                                });


                        })
                        }
                        else {
                            alert("מיקום אינו זמין בדפדפן זה");
                        }
                    },

                    
                    geocode () {
                        govmap.geocode({keyword: this.geocode_text},govmap.geocodeType.FullResult)
                        .then(function(response){

                        //console.log(response);
                        if (response.status == 0)
                        {
                            
                            //govmap.zoomToXY({ x: response.data[0].X, y: response.data[0].Y, level: 8, marker: true });

                            govmap.filterLayers({ 'layerName': "sites_nadlan_leumi", 'whereClause': "OBJECTID > 0", 'zoomToExtent': false }); 

                            appVue.value1= [1000, 20000];
                            appVue.value2= [200000, 10000000];

                            getData(response.data[0].X,response.data[0].Y);

                            var data = {
                                'circleGeometries': [{ x: response.data[0].X, y: response.data[0].Y, radius:100 }],
                                'geomData': [{ 'name': 'test1', 'aaa': 1 }],
                                'showBubble': false,
                                'names': ['p1'],
                                'geometryType': 4,
                                'defaultSymbol':
                                    {
                                        'outlineColor': [192, 0, 0, 1],
                                        'outlineWidth': 2,
                                        'fillColor': [255, 192, 203, 0.5]
                                    },
                                'symbols': [],
                                'clearExisting': false,
                                'data': {

                                }
                            };
                            govmap.displayGeometries(data).then(function (e)
                            {
                                console.log(data);
                                
                            });
                            


                            
                        }
                        else{
                            alert("לא נמצאה הכתובת המבוקשת");

                            appVue.tableTitle = "";
                        }
                        
                                
                        });

                    },

                    zoom()
                    {
                        if (this.geocode_text != "")
                        {
                            this.geocode();
                        }
                        else
                        {
                            this.zoomCurrentLocation();
                        }
                    }
                },


        });


        
    </script>



</html>
