

<html style='width:100%; height:100%;'>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    .v-sheet--offset {
        top: -24px;
        position: relative;
      }
    
      @media (max-width: 600px) {
        #myTitle {
          display: none;
        }
    
      }
    
       @media (min-width: 600px) {
        #myTitleMobile {
          display: none;
        }
       }
    </style>
    <head>
    <title>מוקדי קידום קהילתי</title>
    
    <link rel= 'stylesheet' href= 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'> 
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    
    
    
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="https://www.govmap.gov.il/govmap/api/govmap.api.js" ></script>
    
    <script src="https://unpkg.com/terraformer@1.0.8"></script>
    <script src="https://unpkg.com/terraformer-wkt-parser@1.1.2"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    
    
    </head>
        <body style='width:100%; height:95%;' scrolling='no' dir="rtl">
            <div id="isolation_app">
                <v-app>
            
                <v-app-bar style="text-align: center; max-height: 48px;"
                color="indigo"
                dense
                dark
                id="myTitle"
                >
    
                
                <div class="text-right" style="width:25%; text-align:right;">
                    <v-autocomplete
                    v-model="select"
                    :loading="loading"
                    :items="items"
                    :search-input.sync="search"
                    cache-items
                    class="mx-4"
                    flat
                    hide-no-data
                    hide-details
                    placeholder="שם מוסד"
                    solo-inverted
                    @change='zoom'
                  ></v-autocomplete>
                </div>
        
                <v-divider vertical></v-divider>
    
                <v-spacer></v-spacer>
                <v-toolbar-title class="white--text" style="text-align: center; max-height: 48px;">מוקדי קידום קהילתי</v-toolbar-title>
                <v-spacer></v-spacer>
    
                <div class="text-right" style="width:25%; text-align:right;">
                </div>
    
    
    
    
        
                </v-app-bar>
    
                <v-app-bar
                color="indigo"
                dense
                dark
                id="myTitleMobile"
                >
    
                
                <div class="text-right" style="width:100%; text-align:right;">
                    <v-autocomplete
                    v-model="select"
                    :loading="loading_mobile"
                    :items="items"
                    :search-input.sync="search_mobile"
                    cache-items
                    class="mx-4"
                    flat
                    hide-no-data
                    hide-details
                    placeholder="שם מוסד"
                    solo-inverted
                    @change='zoom'
                  ></v-autocomplete>
                </div>
        
    
    
    
    
    
        
                </v-app-bar>
            
                <form name="form" style='height: 100%;' scrolling='no'> 
                        
                        <div id="map_div" style="width: 100%; height: 100%; float:left">
                                
                                
                        </div> 			
                </form>
    
    
    
            
    
    
            </v-app>
        </div>
        
        
    <script>
    
    
    
    
    
            function isInArray(value, array) {
                return array.indexOf(value) > -1;
            }
    
            function getDates(startDate, stopDate) {
                var dateArray = new Array();
                var currentDate = startDate;
                while (currentDate <= stopDate) {
                    dateArray.push(new Date (currentDate));
                    currentDate = currentDate.addDays(1);
                }
                return dateArray;
            }
    
        
    
           
    
            var intersect_res;
    
    
            var url = 'https://yovavsanders.github.io/govmap/KidumKehilati'
    

            var kidum_data = []
            var s_wkts = [];
            var s_names = [];
            var s_symbols = [];
            var bubbleHTMLParameters_all = [];

    
                Number.prototype.between = function(a, b) {
                var min = Math.min.apply(Math, [a, b]),
                    max = Math.max.apply(Math, [a, b]);
                    return this >= min && this < max;
                };
    
    
    
            var names = [];
    
            //var my_token = "0fff9694-a045-4ede-b997-ee9927b0d56c";//govmap
            var my_token ='aafedfe5-8dfa-4fd5-9af9-8b95759447bd'; // my github
            //var my_token = "5a4b8472-b95b-4687-8179-0ccb621c7990";//localhost
            $(document).ready(function ()
            {
    
                govmap.createMap('map_div', {
                    token: my_token,
                    visibleLayers: ["LOCALITY_210410"],
                    layers:["LOCALITY_210410"], 
                    layersMode: 4, 
                    showXY: true,
                    level: 1,
                    center: {x: 186000, y: 658000},
                    identifyOnClick: true
                });

                // get all
                var kidum_json = url + "/data/KidumKehilati.json";
                $.ajax({
                    dataType: 'json',
                    beforeSend : function() {
                        console.log('Before Ajax Request Starts !!');
    
    
    
    
                    },
                    success: function(data) {
                            //console.log(iso_data);
                            kidum_data = data;
                            console.log(kidum_data);
                            for (i in kidum_data)
                            {

                                s_wkts.push("POINT(("+kidum_data[i].X+" "+kidum_data[i].Y+"))");
                                s_names.push(kidum_data[i].NAME);
                                if (kidum_data[i].NAME != "")
                                {
                                    names.push(kidum_data[i].NAME);
                                }
                                layer = kidum_data[i].LAYER;
                                if (layer == "הגמילה הפיזית מסמים")
                                {
                                    bubbleHTMLParameters_all.push([

                                    "סוג המוסד: " + kidum_data[i].TYPE
                                    + "<br />"  + "תחום: " + kidum_data[i].LAYER
                                    + "<br />"  + "כתובת: " + kidum_data[i].ADDR
                                    + "<br />" + "פקס: " + kidum_data[i].FAX
                                    + "<br />" + "מייל: " + kidum_data[i].MAIL1
                                    + "<br />" + "מייל: " + kidum_data[i].MAIL2
                                    + "<br />" + "מספר טלפון: " + kidum_data[i].PHONE  
                                    , "הערות: " + kidum_data[i].REMARKS]);
                                    symbol_url =url + '/icons/blue.png'
                                    s_symbols.push({url:symbol_url, width:30,  height:30  });
                                }
                                if (layer == "טיפול המשך בנפגעי סמים")
                                {
                                    bubbleHTMLParameters_all.push([
                                    "סוג המוסד: " + kidum_data[i].TYPE
                                    + "<br />"  + "תחום: " + kidum_data[i].LAYER
                                    + "<br />"  + "מחוז: " + kidum_data[i].MACHOZ
                                    + "<br />"  + "מנהל/ת: " + kidum_data[i].MANAGER
                                    + "<br />"  + "טלפון: " + kidum_data[i].PHONE,
                                    "אוכלוסיית יעד: " + kidum_data[i].POP_TYPE ])
                                    symbol_url =url + '/icons/red.png'
                                    s_symbols.push({url:symbol_url, width:30,  height:30  });
                                }
                                if (layer == "מסלול תרופתי לטיפול ממושך")
                                {
                                    bubbleHTMLParameters_all.push([
                                    "סוג המוסד: " + kidum_data[i].TYPE
                                    + "<br />"  + "תחום: " + kidum_data[i].LAYER
                                    + "<br />"  + "כתובת: " + kidum_data[i].ADDR
                                    + "<br />"  + "מחוז: " + kidum_data[i].MACHOZ
                                    + "<br />"  + "מרפאה: " + kidum_data[i].CLINIC
                                    + "<br />"  + "בית מרקחת: " + kidum_data[i].PHARM
                                    + "<br />"  + "רופא/ה: " + kidum_data[i].DOCTOR
                                    + "<br />"  + "רוקח/ת: " + kidum_data[i].PHARMASIST
                                    + "<br />"  + "מנהל/ת: " + kidum_data[i].MANAGER
                                    + "<br />" + "פקס: " + kidum_data[i].FAX
                                    + "<br />"  + "טלפון: " + kidum_data[i].PHONE,
                                    "מייל: " + kidum_data[i].MAIL1])
                                    symbol_url =url + '/icons/green.png'
                                    s_symbols.push({url:symbol_url, width:30,  height:30  });
                                }
                                if (layer == "טיפול גמילה אמבולטורי מהתמכרות למשככי כאבים")
                                {
                                    bubbleHTMLParameters_all.push([
                                    "סוג המוסד: " + kidum_data[i].TYPE
                                    + "<br />"  + "תחום: " + kidum_data[i].LAYER
                                    + "<br />"  + "כתובת: " + kidum_data[i].ADDR
                                    + "<br />"  + "מרפאה: " + kidum_data[i].CLINIC
                                    + "<br />"  + "מנהל/ת: " + kidum_data[i].MANAGER
                                    + "<br />"  + "טלפון: " + kidum_data[i].PHONE
                                    + "<br />"  + "אוכלוסיית יעד: " + kidum_data[i].POP_TYPE
                                    , "הערות: " + kidum_data[i].REMARKS]);
                                    symbol_url =url + '/icons/orange.png'
                                    s_symbols.push({url:symbol_url, width:30,  height:30  });
                                }
                                if (layer == "טיפול בנפגעי אלכוהול")
                                {
                                    bubbleHTMLParameters_all.push([
                                    "סוג המוסד: " + kidum_data[i].TYPE
                                    + "<br />"  + "תחום: " + kidum_data[i].LAYER
                                    + "<br />"  + "כתובת: " + kidum_data[i].ADDR
                                    + "<br />"  + "מנהל/ת: " + kidum_data[i].MANAGER
                                    + "<br />"  + "טלפון: " + kidum_data[i].PHONE
                                    + "<br />" + "פקס: " + kidum_data[i].FAX
                                    , "הערות: " + kidum_data[i].REMARKS]);
                                    symbol_url =url + '/icons/ocean.png'
                                    s_symbols.push({url:symbol_url, width:30,  height:30  });
                                }
                                if (layer == "אוכלוסיות מיוחדות")
                                {
                                    bubbleHTMLParameters_all.push([
                                    "סוג המוסד: " + kidum_data[i].TYPE
                                    + "<br />"  +"תת סוג מוסד: " + kidum_data[i].SUB_TYPE
                                    + "<br />"  + "תחום: " + kidum_data[i].LAYER
                                    + "<br />"  + "מחוז: " + kidum_data[i].MACHOZ
                                    + "<br />"  + "כתובת: " + kidum_data[i].ADDR
                                    + "<br />"  + "מנהל/ת: " + kidum_data[i].MANAGER
                                    + "<br />"  + "שעות פתיחה: " + kidum_data[i].OPENING_TIME
                                    + "<br />"  + "טלפון: " + kidum_data[i].PHONE
                                    + "<br />" + "פקס: " + kidum_data[i].FAX
                                    , "הערות: " + kidum_data[i].REMARKS]);
                                    symbol_url =url + '/icons/light blue.png'
                                    s_symbols.push({url:symbol_url, width:30,  height:30  });
                                }
                                if (layer == "נספחים")
                                {
                                    bubbleHTMLParameters_all.push([
                                    "סוג המוסד: " + kidum_data[i].TYPE
                                    + "<br />"  +"שם ישוב: " + kidum_data[i].SETL_NAME
                                    + "<br />"  + "תחום: " + kidum_data[i].LAYER
                                    + "<br />"  + "מעבדה: " + kidum_data[i].LAB
                                    + "<br />"  + "כתובת: " + kidum_data[i].ADDR
                                    + "<br />"  + "טלפון: " + kidum_data[i].PHONE
                                    + "<br />"  + "טלפון נוסף: " + kidum_data[i].PHONE2
                                    + "<br />" + "פקס: " + kidum_data[i].FAX
                                    + "<br />"  + "מנהל/ת: " + kidum_data[i].MANAGER                       
                                    , "מייל: " + kidum_data[i].MAIL]);
                                    symbol_url =url + '/icons/gold.png'
                                    s_symbols.push({url:symbol_url, width:30,  height:30  });
                                }
                            }


                            var data = {  
                            wkts: s_wkts,  
                            names: s_names,  
                            showBubble: true,
                            geometryType: govmap.drawType.Point,  
                            defaultSymbol:  
                            {  
                                url: url + '/icons/brown.png',  
                                width:20,  
                                height:20  
                            },   
                            symbols: s_symbols,  
                            clearExisting: false,  
                            data: {  
                                    tooltips: s_names,  
                                    headers: s_names,
                                    bubbleHTML: "<div style='border: 1px solid #525252; margin: 10px;padding: 10px;'><div>{0}</div><div>{1}</div><div>{3}</div></div>",
                                    bubbleHTMLParameters:bubbleHTMLParameters_all
                                }  
                            };


                            govmap.displayGeometries(data).then(function (response)  
                            {  
                                console.log(response.data);
                            });

                            s_names.sort();
                            appVue.items = s_names;

                            
    
    
                    },
                    error : function(jqXHR, textStatus, errorThrown) {
                        alert("Error occurred: " + errorThrown);
                    },
                    url: kidum_json
                });

            });
    
            
        var appVue = new Vue({
            el:"#isolation_app",
            vuetify: new Vuetify(),
            data () {
                return {
                
                    loading: false,
                    items: [],
                    search: null,
                    search_mobile: null,
                    loading_mobile: null,
                    select: null,
                    select_mobile: null,
                    setl_names: [],
                }
            },
            watch: {
                search (val) {
                    val && val !== this.select && this.querySelections(val)
                },
            },
            computed: {
                currentTitle () {
                    switch (this.step) {
                    case 1: return 'כפר סבא'
                    case 2: return 'Create a password'
                    default: return 'Account created'
                    }
                },
    
                avg () {
                    const sum = this.points.reduce((acc, cur) => acc + cur, 0)
                    const length = this.points.length
    
                    if (!sum && !length) return 0
    
                    return Math.ceil(sum / length)
                },
            },
    
            methods: {
                querySelections (v) {
                    this.loading = true
                    // Simulated ajax query
                    setTimeout(() => {
                    this.items = this.setl_names.filter(e => {
                        return (e || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
                    })
                    this.loading = false
                    }, 500)
                },
                zoom(name)
                {
    
                    s_features = kidum_data.filter(function(f) {
                            return f.NAME == name;		
                    });
                    if (s_features.length > 0)
                    {
                        govmap.zoomToXY({ x: s_features[0].X, y: s_features[0].Y, level: 7, marker: false });
                    }

                }
    
    
    
            },
        });
        
        
        </script>
    <body>
    
    
       
    </html>
